.container {
	text-align: center;
	padding: 200px 200px 200px 450px;
	max-width: 400px;
	background: #fff;
	border-radius: 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

li {
	list-style: none;
}

.container li {
	display: block;
	padding: 9px;
	border: 1px solid #ddd;
	margin-bottom: 30px;
	border-radius: 3px;
}

label {
	display: block;
	float: left;
	height: 23px;
	margin-top: 25px;
	background: #fff;
	padding: 2px 5px 2px 5px;
	color: #b9b9b9;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	margin-bottom: 5px;
}

input {
	width: 100%;
	display: block;
	outline: 0;
	border: 0;
	border-bottom: 1px solid gray;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	color: gray;
    font: 1em/1.25em Arial, Helvetica, sans-serif;
}

span {
	background: #f3f3f3;
	display: block;
	padding: 0;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: silver;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	height: 23px;
	line-height: 24px;
}

button {
	margin: 10px;
	height: 25px;
}

.module {
  width: 70%;
  float: left;
  margin-top: 20px auto;
  padding-left: 10px;
}

.messenger {
	float: left;
	margin-left: 10px;
	width: 27%;
}

.top-bar {
  background: #666;
  color: white;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}
.top-bar h1 {
  display: inline;
  font-size: 1.1rem;
}
.top-bar .typicons-message {
  display: inline-block;
  margin: 0 5px 0 5px;
  height: 16px;
  line-height: 16px;
  width: 16px;
  background: #11DC11;
  border-radius: 8px;
}
.top-bar .typicons-minus {
  position: relative;
  top: 3px;
}
.top-bar .left {
  float: left;
}
.top-bar .right {
  float: right;
  padding-top: 5px;
}
.top-bar > * {
  position: relative;
}
.top-bar::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
  background: radial-gradient(#ffffff, #000000);
}

.discussion {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 0 0;
  overflow-y: scroll;
  height: 450px;
}
.discussion li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}
.discussion .avatar {
  width: 40px;
  position: relative;
}
.discussion .avatar img {
  display: block;
  width: 100%;
}

.other .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .messages {
  order: 1;
  border-bottom-right-radius: 0;
}
.self .avatar {
  order: 2;
}
.self .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
}
.messages time {
  font-size: 0.7rem;
  color: #ccc;
}

textarea {
	width: 96%;
	height: 50px;
	display: block;
	padding: 15px;
	border: 3px solid #e5e5e5;
	border-radius: 3px;
}

.users-list {
  list-style: none;
  background: white;
  margin: 0;
  padding: 0 0 0 0;
  overflow-y: scroll;
  height: 530px;
  border: 1px solid #e5e5e5;
}
.users-list li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  font-family: Georgia;
  border-bottom: 1px solid #e5e5e5;
}

.users-list li:hover {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  font-family: Georgia;
  border-bottom: 1px solid #e5e5e5;
  background: #e5e5e5;
  cursor: pointer;
}

.user-details {
	width: 350px;
    float: right;
    margin-right: 5px;
    font-size: 15px;
    color: #E46435;
}

.fullname {
	color: gray;
}

.onlineuserid {
	font-size: 11px;
	color: #E46435;
	font-style: italic;
	line-height: 18px;
}

.no-chat-begin {
	height: 530px;
	text-align: center;
	background: white;
	border: 1px solid #e5e5e5;
}

.msg {
	padding-top: 200px;
	font-size: 20px;
	background: white;
}